node_modules/
dist/
.turbo/
.env
.env.local
*.pfx
*.p12
*.key.pem
*.crt.pem
secrets/*
!secrets/.gitignore
!secrets/README.md
!secrets/.gitkeep
coverage/
.DS_Store
*.log
pgdata/
redisdata/
mqdata/
miniodata/
